<div class="pub-wrapper w-full inline-flex flex-wrap items-center
            my-1.5 p-2.5 rounded bg-slate-100 dark:bg-slate-700 box-border
            leading-tight justify-around" id="{{anchorize .title}}"
     itemscope itemtype="http://schema.org/ScholarlyArticle">
    <div class="pub-image basis-40 grow-0 shrink" itemprop="image"
         itemscope itemtype="http://schema.org/ImageObject">
        <img alt="{{ .title }} Course Illustration"
             itemprop="url" src="{{ .image }}"
             class="w-full"/>
    </div>
    <div class="publication grow shrink-2 basis-3/4 my-1.5 mx-2">
        {{ if and .name .link }}
        <h4><a href="{{ .link }}">{{ .name }}</a></h4>
        {{ end }}
        {{- with .description -}}
        <div itemprop="description" class="pub-description my-4">{{ . }}</div>
        {{- end -}}
    </div>
</div>
